.DS_Store
simpsons_dataset/
simpsons_dataset.zip
Annotation/
Images/
annotation.tar
images.tar
pickled_images/
__pycache__/
*pyc
*pycache*
emnist-letters-train.csv
emnist-letters-train.pkl
emnist-letters-test.pkl
mnist_train.csv
mnist_train.pkl
mnist_test.pkl